/* custom tailwind component styles */
@layer components {
  /* inputs */
  .gu-input {
    @apply m-10 rounded-lg bg-red-200;
  }

  /* cards */
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
}
