/* custom tailwind theme defs */
@theme {
  /* --font-display: 'Satoshi', 'sans-serif'; */
  --font-ggg: 'Fruktur', system-ui;
  --font-sour-gummy: 'Sour Gummy', sans-serif;

  /* --breakpoint-3xl: 120rem; */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-background-from: var(--background-from);
  --color-background-to: var(--background-to);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-violet-50);
  /* <div className="h-screen w-full bg-linear-to-t from-[#30cfd0] to-[#330867]"> */
  --background-from: var(--color-sky-400);
  --background-to: var(--color-violet-700);
  --foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: var(--color-violet-950);
  --primary-foreground: var(--color-violet-100);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: var(--color-fuchsia-500);
}
